/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
/*
 html {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 .bg {
   background-image: url("https://images.pexels.com/photos/1192043/pexels-photo-1192043.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   margin: 0;
   padding: 0;
 }

 table#statistics {
   table-layout: fixed;
   width: 75%;
   border-spacing: 0;
   border-collapse: collapse;
 }

 img {
     height: 250px;
     width: 250px;
     border: 5px solid black;
     background-color: white;
     margin: 0;
     padding: 0;
 }

 a {
   color: white;
 }

 a:visited {
   color: white;
 }
*/
/*
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee img {
    display: inline-flex;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
} */

img {
 width: 20%;
 height: auto;
 float: right;
}

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(15, 107, 182);
  font-family: Arial;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: inline-block;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
